<div class="fullComic">
	<img class="comic" src="/images/comics/{{ page.date | date: "%Y-%m-%d" }}/FullComic.png">
</div>
<div class="stackedComic">
	<img class="comic" src="/images/comics/{{ page.date | date: "%Y-%m-%d" }}/Panel 1.png">
	<img class="comic" src="/images/comics/{{ page.date | date: "%Y-%m-%d" }}/Panel 2.png">
	<img class="comic" src="/images/comics/{{ page.date | date: "%Y-%m-%d" }}/Panel 3.png">
	<img class="comic" src="/images/comics/{{ page.date | date: "%Y-%m-%d" }}/Panel 4.png">
</div>