<div class="fullComic">
	<img class="comic c6Paneled" alt="{{ page.alttext | escape }}" src="/assets/images/comics/{{ page.date | date: "%Y/%m/%d" }}/FullComic.png">
</div>
<div class="stackedComic">
	<img class="comic cSquare" alt="{{ page.alttext | escape }}" src="/assets/images/comics/{{ page.date | date: "%Y/%m/%d" }}/Panel 1.png">
	<img class="comic cStacked" alt="Panel 2" src="/assets/images/comics/{{ page.date | date: "%Y/%m/%d" }}/Panel 2.png">
	<img class="comic cStacked" alt="Panel 3" src="/assets/images/comics/{{ page.date | date: "%Y/%m/%d" }}/Panel 3.png">
	<img class="comic cStacked" alt="Panel 4" src="/assets/images/comics/{{ page.date | date: "%Y/%m/%d" }}/Panel 4.png">
	<img class="comic cStacked" alt="Panel 5" src="/assets/images/comics/{{ page.date | date: "%Y/%m/%d" }}/Panel 5.png">
	<img class="comic cStacked" alt="Panel 6" src="/assets/images/comics/{{ page.date | date: "%Y/%m/%d" }}/Panel 6.png">
</div>