<div class="comicNavLeft">
	{% if page.previous.url %}
	<a class="comicNavButton comicNavFirst" href="{{site.posts.last.date | date: "/%Y/%m/%d/" }}" title="First">
		<img class="comicNavArrow" src="/assets/images/shared/first.svg" alt="Go To First">
	</a>
	<a class="comicNavButton comicNavPrevious" href="{{page.previous.date | date: "/%Y/%m/%d/" }}" title="Previous">
		<img class="comicNavArrow" src="/assets/images/shared/previous.svg" alt="Previous">
	</a>
	{% endif %}
</div>
<div class="comicNavMiddle">
	<a class="comicNavButton comicNavRandom" href="/random.html" title="Random">
		<img class="comicNavArrow" src="/assets/images/shared/random.svg" alt="Random">
	</a>
</div>
<div class="comicNavRight">
	{% if page.next.url %}
	<a class="comicNavButton comicNavNext" href="{{page.next.date | date: "/%Y/%m/%d/" }}" title="Next">
		<img class="comicNavArrow" src="/assets/images/shared/next.svg" alt="Next">
	</a>
	<a class="comicNavButton comicNavLatest" href="{{site.posts.first.date | date: "/%Y/%m/%d/" }}" title="Latest">
		<img class="comicNavArrow" src="/assets/images/shared/latest.svg" alt="Latest">
	</a>
	{% endif %}
</div>