---
layout: page-template
---
{% assign first_year = site.posts.last.date | date: '%Y' | plus: 0 %}
{% assign last_year = site.posts.first.date | date: '%Y' | plus: 0 %}
{% assign page_year = page.date | date: '%Y' | plus: 0 %}
<div id="archive-nav">
	<a id="archive-nav-prev" 
	{% if page_year <= first_year %}
	style="visibility: hidden;"
	{% endif %}
	href="/{{ page_year | minus: 1 }}/">
		<img alt="Single arrow pointing left." src="/assets/images/shared/previous.svg" alt="Previous">
	</a>
	{{ page_year }}
	<a id="archive-nav-next" 
	{% if page_year >= last_year %}
	style="visibility: hidden;"
	{% endif %}
	href="/{{ page_year | plus: 1 }}/">
		<img alt="Single arrow pointing right."src="/assets/images/shared/next.svg" alt="Next">
	</a>
</div>
<article>
<div class="archive-content">
{% for post in page.posts %}
  <div class="archived-comic">
   <a href="{{post.date | date: "/%Y/%m/%d/" }}">
	<div class="archive-image">
		{% if post.titleHeight > 0 %}
		<img src="{{post.date | date: "/assets/images/comics/%Y/%m/%d/Panel 2.png" }}" />
		{% else %}
		<img src="{{post.date | date: "/assets/images/comics/%Y/%m/%d/Panel 1.png" }}" />
		{% endif %}
	</div>
	<div class="archive-date">
		{{ post.date | date: "%b %-d" }}
	</div>
   </a>
  </div>
{% endfor %}
</div>
</article>